@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Code+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80%;
}
textarea {
  min-width: 800px;
  min-height: 600px;
}
#editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headings {
  display: flex;
  justify-content: space-around;
  margin: 1.8rem;
}
#preview {
  line-height: 2rem;
}
@media screen and (max-width: 850px) {
  .content {
    display: block;
  }
}
